<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.koobin.snsserver.mapper.PostMapper">

  <insert id="post" parameterType="me.koobin.snsserver.model.PostInfo" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO post
    ( content
    , user_id)
    VALUES ( #{content}
           , #{userId});

  </insert>

  <insert id="savePostImage">
    insert into post_file
    (post_id
    , file_id)
    values
    <foreach collection="fileIds" separator="," item="fileId">
      ( #{postId}
      , #{fileId} )
    </foreach>
  </insert>

  <resultMap id="postWithFile" type="me.koobin.snsserver.model.PostFileInfo">
    <id column="post_id" property="id"/>
    <result column="content" property="content"/>
    <collection property="saveFileNames" ofType="string">
      <result column="save_file_name"/>
    </collection>
  </resultMap>


  <select id="getPost" resultMap="postWithFile" parameterType="long">
    select p.id              post_id
         , content        as content
         , save_file_name as save_file_name
    from post p
           left join post_file pf on p.id = pf.post_id
           join file f on f.ID = pf.file_id
    where p.id = #{postId}
      and delete_flag = 0;
  </select>

  <select id="findByUserId" resultMap="postWithFile" parameterType="long">
    select p.id              post_id
         , content        as content
         , save_file_name as save_file_name
    from post p
           left join post_file pf on p.id = pf.post_id
           join file f on f.ID = pf.file_id
    where p.user_id = #{userId}
      and delete_flag = 0;
  </select>
</mapper>