<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.koobin.snsserver.mapper.UserMapper">

  <insert id="insertUser" parameterType="me.koobin.snsserver.model.UserSignUpParam">
    INSERT INTO USER (USERNAME, PASSWORD, PHONE_NUMBER, EMAIL, NAME)
    VALUES (#{username}, #{password}, #{phoneNumber}, #{email}, #{name})
  </insert>

  <update id="updateUser" parameterType="me.koobin.snsserver.model.UserUpdateInfo">
    UPDATE user
    SET NAME            = #{name},
        PHONE_NUMBER    = #{phoneNumber},
        EMAIL           = #{email},
        PROFILE_MESSAGE = #{profileMessage},
        profile_id      = #{profileId}
    WHERE USERNAME = #{username}
  </update>

  <update id="updateUserPassword" parameterType="me.koobin.snsserver.model.UserIdAndPassword">
    UPDATE user
    SET PASSWORD = #{password}
    WHERE USERNAME = #{username}
  </update>

  <delete id="deleteUser" parameterType="string">
    DELETE
    FROM USER
    WHERE USERNAME = #{username}
  </delete>

  <select id="isUsernameDupe" parameterType="string" resultType="boolean">
    SELECT EXISTS(SELECT USERNAME FROM USER WHERE USERNAME = #{username})
  </select>

  <select id="getPassword" parameterType="string" resultType="java.lang.String">
    SELECT PASSWORD
    FROM USER
    WHERE USERNAME = #{username}
  </select>

  <select id="getUser" resultType="me.koobin.snsserver.model.User"
    parameterType="me.koobin.snsserver.model.UserIdAndPassword">
    SELECT ID,
           PASSWORD,
           NAME,
           PHONE_NUMBER,
           EMAIL,
           USERNAME,
           PROFILE_MESSAGE
    FROM USER
    WHERE USERNAME = #{username}
      AND PASSWORD = #{password}
  </select>

</mapper>